#container {
  width: 100%;
  margin: 20px auto;
}

img, #container {
  height: 400px;
  width: 600px;
}

.hidden {
  display: none;
}

#left {
  float: left;
  cursor:pointer;
}

#right {
  float: right;
  cursor: pointer;
}